<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta property="og:title" content="Emily Ann Ramos for City Council" /> 
	<meta property="og:description" content="Mountain View is home, whether your family has lived here for generations or if you just moved in. As a daughter of Filipino immigrants who came to this country seeking a better future for their family, I’m grateful to live in a city where anyone can make a difference, and I hope to keep doing just that. " />
	<meta property="og:url" content="https://emilyannramos.com" /> 
	<meta property="og:image" content="https://emilyannramos.com/assets/images/Emily2024Generic_EmailBanner.jpg" />
	<meta name="twitter:creator" content="@engineeremily" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
</head>
