// Variables

// Restated Bootstrap Variables
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;

// Added new "grays" using this gradient generator: 
// https://cssgradient.io/
$gray-100: #f4d5d9 !default;
$gray-200: #e2c7cd !default;
$gray-300: #cfb9c0 !default;
$gray-400: #beabb4 !default;
$gray-500: #aa9ca7 !default;
$gray-600: #7f7b89 !default;
$gray-700: #68697a !default;
$gray-800: #555b6d !default;
$gray-900: #364257 !default;